# Reference material from past editions (nested git repos, read-only, not part of this course repo)
/inputs/

# The data-challenge codebase is its own GitHub repo, cloned locally as a
# nested git repo (git@github.com:jzoubian/software-development_data-challenge.git)
/data-challenge/
